@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
}

.container {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

h3,
legend {
    font-size: 24px;
    font-weight: 600;
    color: #1b2834;
    line-height: 1.58;
    margin: 0 auto;
}

form span,
label {
    font-size: 14px;
    color: #68717c;
    line-height: 1.57;
}

h4 {
    font-size: 18px;
    color: #1b2834;
    line-height: 1.22;
}

p {
    font-size: 14px;
    color: #68717c;
    line-height: 1.57;
}

.number {
    font-size: 14px;
    color: #1b2834;
    line-height: 1.57;
    position: relative;
    padding-left: 34px;
}

.number:before {
    background-image: url("img/phone.svg");
    background-repeat: no-repeat;
    content: "";
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    position: absolute;
}

.error {
    color: red;
    font-weight: bold;
    float: right;
}

textarea {
    resize: none;
    font-family: "Source Sans Pro", sans-serif;
}

fieldset {
    border: none;
    padding-right: 30%;
}

form {
    text-align: left;
    width: 30%;
}

section {
    width: 40%;
}

input,
textarea {
    border: 1px solid #d4d8db;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #68717c;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
}

input[placeholder],
textarea[placeholder] {
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color: #68717c;
}

span,
label {
    display: block;
}

form label {
    float: left;
    margin-right: 10px;
}

.submit-btn {
    display: block;
    cursor: pointer;
    margin: 5px;
    width: 141px;
    height: 36px;
    object-fit: contain;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(27, 40, 52, 0.16);
    background-image: -webkit-linear-gradient(#2d74da, #2367c8);
    background-image: -moz-linear-gradient(#2d74da, #2367c8);
    background-image: -o-linear-gradient(#2d74da, #2367c8);
    background-image: linear-gradient(#2d74da, #2367c8);
    color: #fff;
    outline: none;
    border: none;
}

.edit-btn {
    font-size: 24px;
    display: block;
    background-color: #fff;
    cursor: pointer;
    margin: 5px;
    object-fit: contain;
    border-radius: 3px;
    color: #2d74da;
    outline: none;
    border: 1px solid #2d74da;
}

.delete-btn {
    font-size: 30px;
    display: block;
    background-color: #fff;
    cursor: pointer;
    margin: 5px;
    object-fit: contain;
    border-radius: 3px;
    color: #fa5e5b;
    outline: none;
    border: 1px solid #fa5e5b;
    padding: 0 10px;
}

.member {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px 0 0 10px;
    border: 1px solid darkgreen;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
}